@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body {
    margin: 0 !important;
    padding: 0;
    position: relative;
    /*width: 1440px;
    height: 1024px;*/
    background: #212121;
    background-image: url(../Daniela/Background.png);
    background-position: center;
    background-size: contain;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

.section2 {
    margin-top: 7%;
    color: white;
}

.section3 {
    margin-top: 3%;
    color: white;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
}

h6 {
    color: rgba(255, 255, 255, 0.171);
    text-align: center;
    font-weight: 100;
}


/*.card img {
    width: 30%;
    height: 30%;
    align-content: center;
} */

nav {
    position: absolute;
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
    background: #000000 !important;
}

.carousel-indicators {
    left: 0% !important;
    right: 0% !important;
    top: 105% !important;
    bottom: 0% !important;
    margin-top: 0% !important;
}

.carousel-inner {
    left: 6% !important;
    right: 0% !important;
    top: 0% !important;
}

#tatuador,
#nosotros {
    background: none;
}

#tatuador #imagenes {
    width: 290px;
    height: 336px;
}

#tatuador #imagenesTrabajos {
    width: 240px;
    height: 300px;
}

#Geometricos,
#Celtas,
#Zodiacales {
    background: linear-gradient(270deg, #833131 50%, rgba(131, 49, 49, 0) 70.34%);
    border-radius: 4px;
}

#descrip-gral {
    color: white;
    font-size: 18px;
}

#imagen {
    max-width: 273px;
    max-height: 336px;
}

#Celtas #imagen {
    right: 100% !important;
    top: 660px;
}

#footer {
    background: #ffffff1c;
    border-radius: 2px;
}

.foot {
    font-size: 12px !important;
    color: white !important;
    text-align: center;
}